<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Mohana M</title>
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="favicon.ico">
</head>

<body style="color: #40514E;
              margin: 0;
              text-align: center;
              font-family: 'Merriweather', serif;">
  <div style="background-color: #E4F9F5;
              position: relative;
              padding-top: 100px;" class="top-container">
    <img style="position: absolute; right: 300px; top: 40px;" class="top-cloud" src="static/cloud.png" alt="cloud">
    <div class="title-text">
      <h1 style="color: #66BFBF;
                font-size: 5.625rem;
                margin: 50px auto 0 auto;
                font-family: 'Sacramento', cursive;">I'm Mohana.</h1>
      <h2 style="color: #66BFBF;
                font-family: 'Montserrat', sans-serif;
                font-size: 2.5rem;
                font-weight: normal;
                padding-bottom: 10px;">a <span style="text-decoration: underline;" class="pro">pro</span>grammer.</h2>
    </div>
    <img style="position: absolute; left: 250px; bottom: 300px;" class="bottom-cloud" src="static/cloud.png" alt="cloud">
    <img class="mountain" src="static/mountain.png" alt="mountain-img">
  </div>

  <div style="margin: 100px 0;" class="middle-container">
    <div class="profile">
      <img src="static/mohana.jpeg" alt="mohana-profile-img" width="200px">
      <h2>Hello.</h2>
      <p style="width: 30%; margin: auto;" class="intro">I am learning python and HTML from scratch. Outside of that I work in Marketing for an early-stage startup. I ❤️ coffee and indulge in Madhubani paintings.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div style="width: 50%;
            margin: 100px auto 100px auto;
            text-align: left;" class="skill-row">
        <img style="width: 25%; float: left; margin-right: 30px;" class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3 style="color: #11999E;
            font-family: 'Montserrat', sans-serif;">Design & Development</h3>
        <p style="line-height: 2;">I started learning to code 3 months ago because I wanted to understand the basics of applications building and the tech world. Through all my roles, I have gained a wealth of experience in design, marketing, sales and product.</p>

      </div>
      <div style="width: 50%; margin: 100px auto 100px auto; text-align: left;" class="skill-row">
        <img style="width: 25%; float: right; margin-left: 30px;" class="chilli-img" src="static/sushi.png" alt="sushi-img">
        <h3 style="color: #11999E;
            font-family: 'Montserrat', sans-serif;">Sushi Lover</h3>
        <p style="line-height: 2;">But my best skill is actually in eating sushi. I love exploring new sushi spots around town. The California Maki and Sake are my favourite dishes.</p>

      </div>
    </div>
    <hr style="border: dotted #EAF6F6 6px;
              border-bottom: none;
              width: 4%;
              margin: 100px auto;">
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <p style="width: 40%; margin: 40px auto 60px;" class="contact-message">Love sushi as much as I do? Let's talk about how awesome it is! We can code while we eat unlimited sushi!</p>
      <a style="color: #11999E;
                font-family: 'Montserrat', sans-serif;
                margin: 10px 20px;
                text-decoration: none;" class="btn" href="mailto:ilove@sushi.com">CONTACT ME</a>
    </div>
  </div>


  <div style="background-color: #66BFBF; padding: 50px 0 20px;" class="bottom-container">
    <a style="color: #11999E; font-family: 'Montserrat', sans-serif; margin: 10px 20px; text-decoration: none;" class="footer-link" href="https://www.linkedin.com/in/mohana-madhurakavi/">LinkedIn</a>
    <a style="color: #11999E; font-family: 'Montserrat', sans-serif; margin: 10px 20px; text-decoration: none;" class="footer-link" href="https://github.com/somuchmoh">GitHub</a>
    <a style="color: #11999E; font-family: 'Montserrat', sans-serif; margin: 10px 20px; text-decoration: none;" class="footer-link" href="https://www.appbrewery.co/">Learn code like me</a>
    <p style="color: #EAF6F6; font-size: 0.75rem; padding: 20px 0;" class="copyright">© 2023 Mohana Madhurakavi </p>
  </div>
</body>

</html>
